@media (max-width : 1000px) {
    #inputGroup-sizing-default {
        font-size: 10px;
    }
    #button-addon1 {
        width: 100%;
        font-size: 12px;
    }
    .form-floating label {
        font-size: 12px;
    }
    .form-control {
        width: 1100px;
    }
    .post__title {
        font-size: 18px;
    }
    .post__description__fix {
        font-size: 12px;
    }
    .post__author__nickname a{
        font-size: 12px;
    }
    .post__date {
        display: none;
    }
    .post__discussion {
        font-size: 12px;
    }
}