{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="profile">
                <div class="profile__inner">
                    <div class="profile__photo">
                        <img src="{% static 'Assets/image/user.svg' %}" alt="">
                    </div>
                    <div class="profile__info">
                        <div class="profile__name">Имя пользователя : {{ profile.user.username }}</div>
                        <div class="profile__role">Роль пользователя : {{ profile.role.title }}</div>
                        <div class="profile__dateReg">Дата регистрации : {{ profile.user.date_joined }}</div>
                    </div>

                    <div class="give__role">
                        {% if profile.role.change_role %}
                        <p>Выдать роль</p>
                            {% for role in form.role %}
                        <div class="form-check">
                            {% if profile.role.title == role %}
                            <input class="form-check-input" type="radio" name="exampleRadios" id="{{ role.id_for_label }}" value="{{ role.label }}" checked>
                                {% else %}
                                <input class="form-check-input" type="radio" name="exampleRadios" id="{{ role.id_for_label }}" value="{{ role.label }}" >
                            {% endif %}
                            <label class="form-check-label" for="{{ role.id_for_label }}">
                                {{ role.label}}

                            </label>
                            {{role}}
                            </div>
                        <div class="form-error">{{ role.errors }}</div>
                                {% endfor %}
                    </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="delete__profile">
                <button type="button" class="btn btn-danger">Удалить пользователя</button>
            </div>
        </div>
    </div>
    <div class="col-3">
    </div>

{% endblock %}