<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Форум</title>
    <link rel="stylesheet" href="Assets/css/index.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
</head>
<body>

<Header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html    ">Главная</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="profile.html">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Помощь</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Вход</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Регистрация</a>
                    </li>

                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</Header>

<Main>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="post__item">
                <div class="post__main">
                    <div class="post__header">
                        <div class="post__title">
                            Best of Cup 2021
                        </div>
                    </div>
                    <div class="post__date">Дата публикации : 07.10.2021</div>
                    <div class="post__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Praesent congue tempor massa, eu sodales leo accumsan sit amet. Quisque placerat massa a
                        mauris ullamcorper mollis sed accumsan ante.
                        Quisque volutpat sit amet turpis eu pretium. In posuere turpis risus. Integer vel mi ac eros
                        dapibus posuere at eu nulla.
                        Etiam auctor purus eu tincidunt cursus.
                        Aenean fermentum lacinia urna. Suspendisse ultricies justo quis libero aliquam vestibulum.
                    </div>
                    <div class="post__info">
                        <div class="post__author">
                            <div class="post__author__nickname">
                                <a href="#">llanskoyll</a>
                            </div>
                            <div class="post__edit__data">Дата редактирования : 08.10.2021</div>
                        </div>
                        <div class="post__edit">
                            <button type="button" class="btn btn-light">Редактировать<img src="Assets/image/pen.svg" alt="pen"></button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="add__comment">
                <div class="add_commnent__inner">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Написать комментарий" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Отправить</button>
                    </div>
                </div>
            </div>
            <div class="main__comment">
                <div class="author">
                    <a href="#"><img src="Assets/image/user.svg" alt=""></a>
                    <div class="comment__author">llanskoyll</div>
                </div>
                <div class="comment__content">
                    Etiam auctor purus eu tincidunt cursus.
                    Aenean fermentum lacinia urna.
                    Suspendisse ultricies justo quis libero aliquam vestibulum.
                </div>
                <div class="comment__date">
                    <div class="comment__date__content">Дата публикации : 07.10.2021</div>
                    <div class="comment__date__btn"><button type="button" class="btn btn-"><img src="Assets/image/delete.svg" alt=""></button></div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="user">
                <div class="user__item">
                    <div class="user__item__block">
                        <div class="user__name">
                            <a href="#"><img src="Assets/image/user.svg" alt=""></a>
                            llanskoyll
                        </div>
                        <div class="user__role">Роль : Пользователь</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>